.circulo{
    border: rgb(53, 50, 50) solid 2px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
}

.direita{
    float: right;
    margin-right: 100px;
    padding-bottom: 150px;
}

.esquerda{
    float: left;
    padding-right: 500px;
    border-right: rgb(53, 50, 50) solid 2px;
    padding-bottom: 150px;
}

.titulo{
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 40px;
}

p{
    font-size: 18px;
}

